* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  border-top: 0.8rem solid #23A375;
  border-right: 0.8rem solid #23A375;
  border-left: 0.8rem solid #23A375;
  margin: 0 auto;
  flex-grow: 1;
  min-height:100%;
  position: relative;
  max-width: 700x;
  width: 100%;
}

header {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  header {
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
}

.titulo {
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-right: 5.4rem;
}

#logo {
  width: 15rem;
  height: 15rem;
}

.main {
  max-width: 70rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.quem-sou-eu {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .quem-sou-eu {
    flex-direction: column-reverse;
  }
}

.texto-qse, {
  width: 40rem;
  margin-left: 8rem;
}

.qse {
  text-align: justify;
  padding: 2rem;
  width: 40rem;
}

@media screen and (max-width: 400px) {
  .qse {
    width: 30rem;
  }
}

.foto-qse {
  width: 20rem;
}

#star {
  width: 10rem;
  height: 16rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.2rem;;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  margin: 0.8rem;
  display: inline-block;
}

@media screen and (max-width: 550px) {
  .row1, .row2, .row3, .row4 {
    display: flex;
    flex-direction: column;
  }
}

footer {
  text-align: center;
  width: 100%;
  color: #ffffff;
  padding: 0.5rem;
  background-color: black;
}